@import "normalize.css";
@import url('https://fonts.googleapis.com/css?family=Alex+Brush&display=swap:200');

@-ms-viewport {
    width: device-width;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: white;
    font-family: sans-serif;
}

h1 {
    font-family: 'Alex Brush', cursive;
    font-size: 10vw;
    margin-right: 2em;
}

.hero {
    background-image: url('img/hero.jpg');
    background-position: center;
    background-size: cover;
    padding: 4rem 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    align-items: center;
    text-align: right;
}

.hero > * {
    color: black;
}

.hero > article > p {
    font-size: 1.5rem;
    font-weight: 200;
}

.offering > ul {
    list-style: none;
    padding-left: 1rem;
    padding-right: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
}

.offering > ul > li {
    border: 1px solid #E2E2E2;
    border-radius: .5rem;
    cursor: pointer;
}

.offering > ul > li > .front > figure {
    max-height: 220px;
    overflow: hidden;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    position: relative;
    margin: 0px;
}

.offering > ul > li > .front  > figure > img {
    width: 100%;
    filter: grayscale(100%);
}

.offering > ul > li > .front  > figure > figcaption {
    position: absolute;
    bottom: 0;
    background-color: rgba(0,0,0,.7);
    width: 100%;
}

.offering > ul > li > .front  > figure > figcaption > h3 {
    color: white;
    padding: .75rem;
    font-size: 1.25rem;
}

.offering > ul > li > .front  > p {
    font-size: 1rem;
    line-height: 1.5;
    padding: 1rem .75rem;
    color: #666666;
}

.back {
    text-align: center;
    font-size: 1rem;
    line-height: 1.5;
    padding: 1rem .75rem;
    color: #666666;
}

.hide {
    display: none;
}

.contact > ul {
    text-align: center;
    list-style: none;
    padding-left: 1rem;
    padding-right: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
}

/* footer */
footer {
    background-color: #333;
    padding: .75rem;
    color: white;
    text-align: center;
    font-size: .75rem;
}